@font-face {
    font-family: frictionlessdata;
    src: url('../fonts/raleway/fonts/v4020/Raleway-v4020-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: frictionlessdata;
    src: url('../fonts/raleway/fonts/v4020/Raleway-v4020-RegularItalic.otf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: frictionlessdata;
    src: url('../fonts/raleway/fonts/v4020/Raleway-v4020-SemiBold.otf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
