@import "colours";
@import "fonts";
@import "type";
@import "sizes";

html {
  overflow-x:hidden;
}

body {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: $base-spacing $base-spacing 0 $base-spacing;

  svg {
    height: 40px;
  }
}

article {
  padding: $base-spacing;
}

h1 {
  background-color: $accent;
  color: #fff;
  text-align: center;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  position: relative;
  z-index: 0;
  margin: 0 0 $base-spacing 0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -50vw;
    right: -50vw;
    background: $accent;
  }
}

.svgstore {
  display: none;
}
